<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @slider.title %>
</p>

<p>
  <b>Description:</b>
  <%= @slider.description %>
</p>


<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>

<%= debug params %>
