<h1>Welcome Admin!</h1>

<div class="span-16">

  <div class="span-8">
    <div class="admin_main">
      <%= link_to "Menu items", menus_path %>
    </div>
  </div>
  <div class="span-8 last">
    <div class="admin_main">
      <%= link_to "Content items", contents_path%>
    </div>
  </div>

  <div class="span-8">
    <div class="admin_main">
      <%= link_to "Slider items", sliders_path%>
  </div>
  </div>
  <div class="span-8 last">
    <div class="admin_main">
      <%= link_to "Advice items", advices_path%>
    </div>
  </div>

  <div class="span-16">
    <div class="admin_main">
      <%= link_to "Tab items", tabs_path%>
    </div>
  </div>
  
</div>