<div class="admin_info">
  <% if admin_signed_in? %>
    <div class="admin_image">
      <%= image_tag("admin.png") %>
    </div>
    <div class="admin_text">
      Email : <b><%= current_admin.email %></b><br/>
      Beléptél : <%= current_admin.current_sign_in_at %><br/>
      IP : <%= current_admin.current_sign_in_ip %><br/>
      <div class="logout">
        <%= link_to "Kijelentkezés az adminisztrátori felületről!", destroy_admin_session_path %>
      </div>
    </div>
  <% end %>
</div>