<h1>Tabok listája</h1>

<div class="add_new">
  <%= link_to 'Új tab felvitele', new_tab_path %>
  <%= link_to 'Vissza', admins_path %>
</div>

<table id="box-table-a">
  <thead>
    <tr>
      <th scope="col">Tab neve :</th>
      <th scope="col">Hozzárendelt tartalom :</th>
      <th scope="col">Aktív</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.title %></td>

        <% if tab.content.title %>
          <td><%= tab.content.title %></td>
        <% else %>
           <td><%= "Nincs hozzárendelt tartalom" %></td>
        <% end %>

        <% if tab.active? %>
          <td><%= "Aktív" %></td>
        <% else %>
           <td><%= "Nem aktív" %></td>
        <% end %>

        <td><%= link_to 'Módosít', edit_tab_path(tab) %></td>
        <td class="delete"><%= link_to 'Töröl', tab, :confirm => 'Biztosan törlöd?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>

</table>
