<h1>Hírek listája</h1>

<div class="add_new">
  <%= link_to 'Új hír felvitele', new_advice_path %>
  <%= link_to 'Vissza', admins_path %>
</div>

<table id="box-table-a">
  <thead>
    <tr>
      <th scope="col">Cím</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @advices.each do |advice| %>
      <tr>
        <td><%= advice.title %></td>
        <td><%= link_to 'Módosít', edit_advice_path(advice) %></td>
        <td class="delete"><%= link_to 'Töröl', advice, :confirm => 'Biztosan törlöd?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>

</table>
