<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @info.name %>
</p>

<p>
  <b>Content:</b>
  <%= @info.content_id %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
